!!! 5
html(ng-app='oneJointApp')
    head
        script(src='http://underscorejs.org/underscore-min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js')
        script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js')
        script(type='text/javascript', src='javascripts/controllers.js')
        script(type='text/javascript', src='javascripts/app.js')

        link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    body
        div(ng-view)
      
