<html><head><title>Add New User</title><link rel="stylesheet" href="/stylesheets/style.css"></head><body>
<div class="panel panel-primary" style="width: 75%">
      <div class="panel-heading">
        <h3 class="panel-title">Sign Up</h3>
      </div>
      <div class="panel-body">
 
<form id="formAddUser" name="adduser" method="post" action="/adduser"><input ng-model="email" id="inputUserName" style="width: 25%"type="text" placeholder="e-mail" name="email"><span style="width: 5%">     </span><input ng-model="password" id="inputUserEmail" type="password" placeholder="password" name="password"><span style="width: 5%">     </span><input ng-model="favourites" id="inputUserFavourites" style="width: 25%" type="text" placeholder="favourites" name="favourites"><button ng-click="signUp()" style="float: right"class="btn btn-default btn" id="btnSubmit" type="button"><span class="glyphicon glyphicon-pencil"></span> submit</button></form>

     </div>
    </div>

</body></html>